/* footer.css: Footer section styles. */
/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.footer-content {
  position: relative;
  z-index: 2;
}

.footer-top {
  margin-block-end: 70px;
}

.footer-brand {
  position: relative;
  padding: 50px 40px;
  background: var(--smoky-black-1) url("../images/footer-form-bg.png");
  background-position: center top;
  background-repeat: repeat;
}

.footer-brand::before,
.footer-brand::after {
  top: 0;
  width: 15px;
  height: 100%;
  background-image: url("../images/footer-form-pattern.svg");
}

.footer-brand::before {
  left: 0;
}

.footer-brand::after {
  right: 0;
}

.footer-brand .logo {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 40px;
}

.footer-brand :is(.body-4, .label-1) {
  color: var(--quick-silver);
  line-height: var(--lineHeight-3);
}

.footer-brand .contact-link {
  margin-block: 6px;
  transition: var(--transition-1);
}

.footer-brand .contact-link:is(:hover, :focus-visible) {
  color: var(--gold-1);
}

.footer-brand .wrapper {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-block: 40px 25px;
}

.footer-brand .separator {
  animation: rotate360 15s linear infinite;
}

.footer-brand .label-1 {
  margin-block-end: 30px;
}

.footer-brand .label-1 .span {
  display: inline;
  color: var(--white);
}

.footer-brand .icon-wrapper .input-field {
  cursor: text;
}

.footer-brand .btn {
  min-width: 100%;
}

.footer-list {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  list-style: none;
  gap: 20px;
}

.footer-link {
  color: var(--gold-1);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-4);
  white-space: nowrap;
  margin-inline: auto;
  transition: var(--transition-1);
}

.img-height {
  height: 40px;
  transition: all 0.5s;
}

.img-height:hover {
  scale: 1.2;
  /* -webkit-transition: all .5s;
    -moz-transition: all .5s; */
}

.map {
  margin-left: -5px;
}

.footer-link:is(:hover, :focus-visible) {
  color: var(--gold-crayola);
}

.copyright {
  color: var(--white);
  line-height: var(--lineHeight-3);
  text-shadow: var(--eerie-black-4) 1px 1px 2px;
}

.copyright .link {
  display: inline;
  color: var(--gold-1);
  text-decoration: underline;
}

.footer .btn-secondary {
  background-color: transparent;
  border-color: var(--gold-1);
}

.footer .btn-secondary .text {
  color: var(--gold-1);
}

.footer .btn-secondary .text-2 {
  color: var(--smoky-black-1);
}

.footer .btn-secondary::before {
  background-color: var(--gold-1);
  color: var(--eerie-black-1);
}

/*-----------------------------------*\
    #BACK TO TOP
  \*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--gold-1);
  color: var(--smoky-black-1);
  font-size: 22px;
  width: 40px;
  height: 40px;
  border-radius: var(--radius-circle);
  display: grid;
  place-items: center;
  box-shadow: var(--shadow-1);
  transition: var(--transition-1);
  opacity: 0;
  visibility: hidden;
  z-index: 4;
}

.back-top-btn:is(:hover, :focus-visible) {
  background-color: var(--white);
  color: var(--gold-1a);
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
}

.caret-text {
  font-size: 20px;
  display: inline-block;
  transform: scale(1.5);
  line-height: 1;
  text-shadow: 0 0 0.5px var(--smoky-black-1);
  color: rgb(98, 91, 91);
}
