body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
  }
  h2 {
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh; /* Ensure the container takes the full height */
  }
  .image-container {
    position: relative;
    width: 25%;
    height: 100vh; /* Full height of the screen */
    overflow: hidden;
    transition: width 0.5s ease, transform 0.5s ease;
  }
  .image-container img {
    width: 100%;
    height: 100%; /* Full height of the screen */
    object-fit: cover;
    transition: transform 0.5s ease;
  }
  .image-container:hover {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .image-container:hover img {
    transform: scale(1.05);
  }
  .image-container::after {
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
  }
  .button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgb(7, 138, 37);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  /* Media queries for mobile responsiveness */
  @media only screen and (max-width: 1024px) {
    .image-container {
      width: 30%;
      height: 80vh;
    }
    .image-container img {
      height: 80vh;
      object-fit: cover;
    }
  }
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
    .image-container {
      width: 80%;
      height: 200px;
      margin-bottom: 20px;
    }
    .image-container img {
      height: 200px;
      object-fit: cover;
    }
    .button {
      position: relative;
      bottom: auto;
      right: auto;
      margin: 20px auto;
    }
  }
  @media only screen and (max-width: 480px) {
    .image-container {
      width: 90%;
      height: 150px;
      margin-bottom: 15px;
    }
    .image-container img {
      height: 150px;
      object-fit: cover;
    }
  }