/* services.css: Services section styles. */

.section-title {
  font-weight: 600;
}

/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service {
  background-color: var(--gray-1);
  color: var(--eerie-black-4);
}

.service .section-title {
  margin-block-end: 16px;
  color: var(--eerie-black-4);
}

.service .section-text {
  margin-block-end: 40px;
}

.service-card {
  overflow: hidden;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.35) 0px 13px 27px -5px, rgba(0, 0, 0, 0.4) 0px 8px 16px -8px;
  padding: 30px;
  transition: transform 0.5s ease-in-out;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.2) 0px 8px 16px -8px;
}

.service-card .has-before {
  padding-block: 30px;
  margin-block-end: 26px;
  z-index: 1;
}

.service-card .has-before::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 100%;
  background-image: url("../images/img-pattern.svg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  transition: var(--transition-2);
  transition-delay: 0;
  z-index: -1;
  will-change: transform;
}

.service-card:is(:hover, :focus-within) .has-before::before {
  transform: rotateY(0.5turn) translateX(50%);
  transition-delay: 300ms;
}

.service-card .card-banner {
  transition: var(--transition-2);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.service-card:is(:hover, :focus-within) .card-banner {
  transform: scale(1.05);
}

.service-card .card-title {
  margin-block-end: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.service-card .card-text {
  font-size: 14px;
  color: var(--eerie-black-4);
  margin-block-end: 20px;
}

.service-card .btn-text {
  font-size: 14px;
  color: var(--gold-2);
  text-decoration: none;
  margin-block-start: 10px;
  display: inline-flex;
  align-items: center;
}

.service-card .btn-text span {
  margin-right: 10px;
}

.service-card .hover-underline::after {
  border-block: 1px solid var(--gold-2);
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about {
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 46%, rgba(240, 240, 240, 1) 95%, rgba(214, 214, 214, 1) 100%);
  color: var(--eerie-black-4);
}

.about .section-title {
  color: var(--eerie-black-4);
}

.about .section-text {
  margin-block: 15px 30px;
}

.about .btn {
  margin-inline: auto;
  margin-block-start: 26px;
}

.about .container {
  display: grid;
  gap: 120px;
}

.about-banner {
  position: relative;
  margin-block-end: 120px;
}

.about-banner > .w-100 {
  padding-inline-start: 50px;
}

.about .abs-img {
  position: absolute;
}

.about .abs-img::before {
  z-index: -1;
}

.about .abs-img-1 {
  bottom: -120px;
  left: 0;
  width: 150px;
  padding-block: 50px;
}

.about .abs-img-2 {
  top: -65px;
  right: 0;
  overflow: hidden;
}

.about .abs-img-1::before {
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  background-image: url("../images/img-pattern.svg");
  background-repeat: repeat;
}

.about .abs-img-2::before {
  inset: 0;
  background-image: url("../images/badge-1-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation: rotate360 15s linear infinite;
}

.about .hover-underline::after {
  border-block: 1px solid var(--gold-2);
}

/*-----------------------------------*\
    #SPECIAL DISH
  \*-----------------------------------*/

.special-dish-content {
  padding-block: 70px;
}

.special-dish .abs-img {
  margin-inline: auto;
  margin-block-end: 12px;
}

.special-dish .section-text {
  margin-block: 16px 40px;
}

.special-dish-content .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-end: 40px;
}

.special-dish-content .del {
  text-decoration: none;
  color: var(--davys-grey);
}

.special-dish-content .span {
  color: var(--gold-crayola);
}

.special-dish .btn {
  margin-inline: auto;
}

/*-----------------------------------*\
    #MENU
  \*-----------------------------------*/

.menu .section-title {
  margin-block-end: 40px;
}

.menu .grid-list {
  margin-block-end: 50px;
}

.menu-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.hover\:card .card-banner {
  background-color: var(--gold-crayola);
}

.hover\:card .card-banner .img-cover {
  transition: var(--transition-2);
}

.hover\:card:is(:hover, :focus-within) .card-banner .img-cover {
  opacity: 0.7;
  transform: scale(1.05);
}

.menu-card .card-banner {
  flex-shrink: 0;
  border-radius: var(--radius-24);
}

.menu-card .card-title {
  transition: var(--transition-1);
}

.menu-card .card-title:is(:hover, :focus-visible) {
  color: var(--gold-crayola);
}

.menu-card .badge {
  background-color: var(--gold-crayola);
  color: var(--eerie-black-1);
  font-family: var(--fontFamily-forum);
  max-width: max-content;
  line-height: var(--lineHeight-6);
  text-transform: uppercase;
  padding-inline: 10px;
  margin-block-start: 10px;
}

.menu-card .span {
  color: var(--gold-crayola);
  margin-block: 10px;
}

.menu-card .card-text {
  color: var(--quick-silver);
  line-height: var(--lineHeight-4);
}

.menu-text .span {
  display: inline-block;
  color: var(--gold-crayola);
}

.menu .btn {
  margin-inline: auto;
  margin-block-start: 26px;
}

.menu .shape {
  display: block;
  width: 70%;
}

.menu .shape-2 {
  top: 0;
  left: 0;
}

.menu .shape-3 {
  bottom: 0;
  right: 0;
}

/*-----------------------------------*\
  #TESTIMONIALS
\*-----------------------------------*/

.testi {
  /* padding-block-end: 340px; */
  position: static;
}

.testi .quote {
  font-size: 7rem;
  font-family: var(--fontFamily-forum);
  line-height: 0.7em;
}

.testi .wrapper {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-block: 40px 50px;
}

.testi .separator {
  animation: rotate360 15s linear infinite;
}

.profile .img {
  margin-inline: auto;
  border-radius: var(--radius-circle);
  margin-block-end: 15px;
}
.primary-btn {
  font-size: 18px;
}
.testi .profile-name {
  color: var(--gold-2);
  font-weight: var(--weight-bold);
  font-size: 110%;
  text-shadow: var(--white) 1px 1px 2px;
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-3);
}

.section.testi {
  padding: var(--section-space) 0;
  position: relative;
  z-index: 1;
}

.has-bg-image {
  background-size: cover;
  background-position: center;
}

.glass-box {
  background: var(--white-alpha-70);
  border-radius: 15px;
  padding: 30px;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: inline-block;
  margin: 0 auto;
}

.glass-box p {
  margin: 10px 0;
  color: var(--eerie-black-3);
}

.profile {
  margin-top: 20px;
  text-align: center;
}

.profile .img {
  border-radius: 50%;
  border: 2px solid var(--gold-2);
  padding: 5px;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-top: 20px;
}

.separator {
  width: 30px;
  height: 3px;
  background-color: var(--gold-2);
}

/*-----------------------------------*\
    #RESERVATION
  \*-----------------------------------*/

.reservation-form {
  margin-block-start: -270px;
}

.form-text {
  margin-block-end: 40px;
}

.form-text .link {
  display: inline;
  color: var(--gold-crayola);
}

.form-right .headline-1 {
  margin-block-end: 40px;
}

.form-right .contact-label {
  margin-block-end: 5px;
}

.form-right .separator {
  margin: 20px auto;
}

.form-right .body-4 {
  color: var(--quick-silver);
  line-height: var(--lineHeight-3);
}

.form-right .body-4:not(:last-child) {
  margin-block-end: 25px;
}

.form-left,
.form-right {
  padding: 40px 20px 30px;
}

.input-field[type="date"] {
  text-transform: uppercase;
  padding-inline-end: 10px;
}

.input-field[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

textarea.input-field {
  resize: none;
  height: 140px;
  padding-block: 20px;
  line-height: var(--lineHeight-1);
}

.form-left .btn {
  max-width: 100%;
  width: 100%;
}

.form-right {
  background-repeat: repeat;
  background-position: top left;
}

/*-----------------------------------*\
    #FEATURES
  \*-----------------------------------*/

.features .section-title {
  margin-block-end: 40px;
}

.feature-card {
  padding: 30px 20px 40px;
}

.feature-item:nth-child(2n + 1) .feature-card {
  background-color: var(--eerie-black-3);
}

.feature-item:nth-child(2n) .feature-card {
  background-color: var(--smoky-black-3);
}

.feature-card .card-icon {
  max-width: max-content;
  margin-inline: auto;
  transition: var(--transition-2);
}

.feature-card:hover .card-icon {
  transform: scale(-1) rotate(180deg);
}

.feature-card .card-title {
  margin-block: 20px;
}

.feature-card .card-text {
  color: var(--quick-silver);
  line-height: var(--lineHeight-6);
}

/*-----------------------------------*\
    #EVENT
  \*-----------------------------------*/

.event {
  background-color: var(--gray-1);
  color: var(--eerie-black-4);
}

.event .section-title {
  margin-block-end: 40px;
  color: var(--eerie-black-4);
}

.event-card {
  position: relative;
  overflow: hidden;
}

.event-card .card-content {
  background-image: var(--gradient-1);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 35px 35px 25px;
}

.event-card .publish-date {
  position: absolute;
  top: 30px;
  left: 25px;
  padding: 5px 10px;
  color: var(--gold-1);
  background-color: var(--black);
  font-weight: var(--weight-bold);
  letter-spacing: var(--letterSpacing-1);
  line-height: 14px;
}

.event-card .card-subtitle {
  color: var(--gold-1);
  text-transform: uppercase;
  font-weight: var(--weight-bold);
  letter-spacing: var(--letterSpacing-2);
  text-shadow: var(--eerie-black-4) 1px 1px 2px;
  margin-block-end: 5px;
}

.event-card .card-banner .img-cover {
  transition: var(--transition-2);
}

.event-card:is(:hover, :focus-within) .img-cover {
  transform: scale(1.05);
}

.event .btn {
  margin-inline: auto;
  margin-block-start: 40px;
}
