@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

#faq {
  background-color: var(--eerie-black-1);
  color: var(--white);
    /* background: linear-gradient(to bottom right, #1f1f1f, #2c2c2c, #1f1f1f); */
    padding: 3rem 0;
  }
  
  #faq .container {
    margin: 0 auto;
    max-width: 1180px;
    padding: 0 2.8rem;
    font-family: var(--fontFamily-dm_sans);
  }
  
  #faq h2 {
    font-family: 'Lora', serif; 
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5rem;
    text-align: center;
  }
  
  #faq .faq-item {
    background-color: var(--eerie-black-1);
    backdrop-filter: blur(10px);
    border: 2px solid rgb(247, 177, 14);
    border-radius: 8px;
    overflow: hidden;
    transition: border 0.3s ease;
    margin-bottom: 1.5rem;
  }
  
  #faq .faq-item:hover {
    border-color: rgb(247, 177, 14);
  }
  
  #faq .faq-button {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    background: none;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-top: auto;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  #faq .faq-question {
    font-family: 'Lora', serif; 
    font-weight: bold;  /* Make question bold */
    color: #fff;
    font-size: 2rem;  /* Increase font size */
    flex-grow: 1;
    text-align: center;  /* Center the text */
    margin-top: 10px;
    transition: color 0.3s ease;
  }
  
  #faq .faq-icon {
    width: 16px;
    height: 16px;
    fill: none;
    stroke: #ccc;
    stroke-width: 2;
    margin-left: 1rem;  /* Adds space between text and icon */
    transition: transform 0.2s ease,stroke 0.3s ease;;
  }
  
  #faq .faq-icon.rotate {
    transform: rotate(180deg);
  }
  
  #faq .faq-answer {
    padding: 1rem 1.25rem;
    background-color: rgba(56, 56, 56, 0.8);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.2s ease, opacity 0.2s ease;
  }
  
  #faq .faq-answer.open {
    max-height: 180px;
    opacity: 1;
  }
  
  #faq .faq-answer p {
    font-family: 'Lora', serif;
    color: #ccc;
    font-size: 1.55rem;   /* Adjust answer font size */
    line-height: 1.5;
    text-align: center;   /* Center the answer text */
    font-weight: bold;    /* Make answer bold */
  }
  
  #faq .faq-button:hover {
    background-color: rgb(222,193,145);  /* Change background color on hover */
  }
  #faq .faq-question:hover {
    background-color: rgb(222,193,145);  /* Change background color on hover */
  }
  
  #faq .faq-button:hover .faq-question {
    color: black;  /* Change question text color to black on hover */
  }
  
  #faq .faq-button:hover .faq-icon {
    stroke: black;  /* Change icon color to black on hover */
  }